html, body, ul, h1,h2,h3,h4, p {
    margin: 0;
    padding: 0;
}
html {
	font-size: 15px;	
}
html,
body {
	height: 100%;
}

body {
	line-height: 1.42;
	font-family: "PT Sans", sans-serif;
}

ul{
	list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
}

.main-container {
	flex: 1 0 auto;
	@extend .container;
	@extend .row;
	@include container;
	@include breakpoint(64em) {/*1024px*/
		flex-wrap: nowrap;
	}
}

.main {
	padding: 20px 10px;
	width: 100%;
	@include breakpoint(64em) {
		flex: 1 0 720px;
	}
}

.main__heading {
	margin: 15px 0;
	color: $lightblue;	
    font-family: open-sans, sans-serif;
    @include font-size(24px);
    font-weight: 600;
}